<nav #sidebar id="sidebar">
  <div class="sidebar-header">
    <h3>Project</h3>
  </div>

  <!-- <pre>{{ menuItems | json }}</pre> -->
  <ul class="list-unstyled components">
    <p>Gallery</p>

    <li *ngFor="let menuItem of menuItems" [class.active]="menuItem.active">
      <a *ngIf="!menuItem.items; else dropdown" (click)="onSelect(menuItem)">{{ menuItem.name }}</a>
      <ng-template #dropdown>
        <a data-toggle="collapse" class="dropdown-toggle" (click)="onSelect(menuItem)" [class.collapsed]="!menuItem.expanded">
          {{ menuItem.name }}
        </a>
        <!-- <pre>{{ menuItem.items | json }}</pre> -->
        <ul *ngIf="menuItem.items" class="list-unstyled">
          <li *ngFor="let submenuItem of menuItem.items" [class.active]="menuItem.active">
            <a (click)="onSelect(submenuItem)">{{ submenuItem.name }}</a>
          </li>
        </ul>
      </ng-template>
    </li>
  </ul>

  <ul class="list-unstyled CTAs">
    <!-- <li>
      <a class="download" (click)="onLogout()">Logout</a>
    </li> -->
    <li>
      <a class="article" (click)="onLogout()">Logout</a>
    </li>
  </ul>
</nav>


<!-- <li class="active">
    <a class="dropdown-toggle" (click)="isCollapsedHome = !isCollapsedHome">Home</a>
    <ul [appCollapse]="isCollapsedHome" class="list-unstyled">
      <li>
        <a href="#">Home 1</a>
      </li>
      <li>
        <a href="#">Home 2</a>
      </li>
      <li>
        <a href="#">Home 3</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#">About</a>
  </li>
  <li>
    <a class="dropdown-toggle" (click)="isCollapsedPages = !isCollapsedPages">Pages</a>
    <ul [appCollapse]="isCollapsedPages" class="collapse list-unstyled">
      <li>
        <a href="#">Page 1</a>
      </li>
      <li>
        <a href="#">Page 2</a>
      </li>
      <li>
        <a href="#">Page 3</a>
      </li>
    </ul>
  </li> -->