[appDraggable] {
  background-color: rgba(gray, 0.1);
  padding: 0.3rem;
  border-radius: 0.3rem;
  display: flex;
  cursor: move;
  position: absolute;
}

.drag-active {
  > app-element {
    visibility: hidden;
  }
}

[appDraggable]:hover {
  background-color: rgba(darkorange, 0.3);
  // background-color: rgba(green, 0.5);
}

.elements-container {
  border-style: solid;
  border-width: 1px;
  border-color: red;
  width: 0px;
  height: 0px;
}

.element-top-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: rgba(darkorange, 0.3);
}

.element-top-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: rgba(darkorange, 0.3);
}
