<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <button type="button" class="btn btn-info" (click)="onSidebarToggle()">
      <fa-icon [icon]="iconToggleSidebar"></fa-icon>
      <!-- <span>Toggle Sidebar</span> -->
    </button>
    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <fa-icon [icon]="iconToggleNavigation"></fa-icon>
    </button>

    <div *ngIf="showLayers()" class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="btn-group ml-auto" role="group" aria-label="Basic example">
        <button *ngFor="let layer of layers" type="button" class="btn btn-secondary" [class.btn-success]="visibleLayer(layer)"
          (click)="onToggleLayer(layer)">
          {{ layer.name }}
        </button>
      </div>
      <!-- <ul class="nav nav-pills ml-auto">
        <li *ngFor="let layer of layers" class="nav-item">
          <a class="nav-link" (click)="onToggleLayer(layer)">{{ layer.name }}</a>
        </li>
      </ul> -->
    </div>
  </div>
</nav>