<div>
  <div *ngIf="map" style="position: relative;">
    <!-- element -->
    <div *ngFor="let widget of map.widgets; index as elementIndex"
        [ngStyle]="widget.style"
        appDraggable
        dragActiveClass="drag-active"
        (dragEnd)="onDragEnd(map, elementIndex, $event, el)"
        #el>
        <app-element [selector]="widget.selector" [state]="getWidgetSubscriptions(widget)">
        </app-element>
      </div>

  </div>

  <!-- layer -->
  <div *ngFor="let layer of layers">
    {{ layer.name }}
  </div>
</div>

<pre>{{ requestMap | json }}</pre>
<pre>{{ map | json }}</pre>
<pre>{{ elements | json }}</pre>
<pre>{{ layers | json }}</pre>
<pre>{{ services | json }}</pre>